<%- include('../includes/head.ejs') %>

</head>

<body>
<%- include('../includes/nav.ejs') %>

<main class="" id="main-collapse">

<!-- Add your site or app content here -->
<h1 class="shop-headers">متاسفانه صفحه ای یافت نشد</h1>

</main>



</html>