<%- include('../includes/head.ejs') %>

</head>

<body>
<%- include('../includes/nav.ejs') %>

<main class="" id="main-collapse">

<!-- Add your site or app content here -->
<h1 class="shop-headers">متاسفانه مشکلی پیش آمده است</h1>
<p class="shop-headers">ما در حال حل مشکل هستیم، بابت این شرایط پوزش میطلبیم</p>

</main>



</html>